# Hive CLI Lab: Stocks Dataset 

> Execution engine: **MapReduce** (`hive.execution.engine=mr`)

## Validate the dataset in HDFS

In [ ]:

# Validate if the stocks dataset is in HDFS
$ hadoop fs -ls -R /user/nb/stocks_data

# View the file
$ hadoop fs -cat  /user/nb/stocks_data/NYSE_Data.txt

# View the last lines
$ hadoop fs -tail /user/nb/stocks_data/NYSE_Data.txt

## Launch Hive

In [ ]:

$ hive

## Commands to run inside Hive CLI (`hive>`)

Copy-paste the below **exactly** inside the Hive prompt.

In [ ]:
-- Ensure MapReduce execution engine
hive> SET hive.execution.engine=mr;

In [ ]:
-- Create a database
hive> CREATE DATABASE nb_stocks;

In [ ]:
-- Use the database
hive> USE nb_stocks;

In [ ]:
-- Show tables 
hive> SHOW TABLES;

In [ ]:
hive> CREATE TABLE stocks(
  stock_exchange STRING,
  stock_symbol STRING,
  date_of_trade STRING,
  open_price FLOAT,
  high_price FLOAT,
  low_price FLOAT,
  close_price FLOAT,
  volume INT,
  adj_close_price FLOAT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
LOCATION '/user/nb/stocks_data';

In [ ]:
-- Verify table exists
hive> SHOW TABLES;

In [ ]:
-- Describe schema
hive> DESC stocks;

In [ ]:
hive> SELECT * FROM stocks LIMIT 10;

In [ ]:
hive> SELECT stock_symbol, MAX(close_price)
FROM stocks
GROUP BY stock_symbol;